main{
    height: 100%;
}
body {
    background: linear-gradient(to right,
            rgba(5, 7, 14, 1) 0%, 12.893982231616974%,
            rgba(19, 28, 38, 1) 25.787964463233948%, 62.893982231616974%,
            rgba(2, 4, 9, 1) 100%);
    overflow-x: hidden;
    color: #F5F5F5;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

.navbar {
    background: transparent !important;
    backdrop-filter: blur(2px);
    border-bottom: 1px solid hsl(0, 0%, 100%, 0.3);
    box-shadow: black;
    z-index: 2000;
}

.nav-link {
    color: white !important;
    margin: 10px;
}

.noticia-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.categoria-tag {
    background: #d4f151;
    color: #000;
    padding: 7px 14px;
    border-radius: 6px;
    font-weight: 600;
}

.titulo-noticia {
    font-size: 40px;
    margin: 20px 0 25px 0;
    font-weight: 800;
}

.autor-box {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.autor-foto {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.autor-nome {
    font-size: 16px;
    font-weight: 600;
}

.autor-data {
    font-size: 14px;
    color: #ccc;
}

.imagem-capa {
    width: 100%;
    border-radius: 12px;
    margin: 25px 0;
}

.conteudo {
    font-size: 20px;
    line-height: 1.7;
}
