body {
    background: linear-gradient(to right, rgba(5, 7, 14, 1) 0%, 12.893982231616974%, rgba(19, 28, 38, 1) 25.787964463233948%, 62.893982231616974%, rgba(2, 4, 9, 1) 100%);
    overflow-x: hidden;
}

.cards {
    gap: 0.7em;
    padding: 0.9em;
    border-radius: 1em;
    border: 1px solid hsl(0, 0%, 100%, 0.3);
    background: hsl(0, 0%, 80%, 0.2);
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 8px 1px hsl(0, 0%, 100%, 0.2);
    display: grid;
    place-items: center;
    color: white;
}

b{
    color: aqua;
}

.bola {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: grid;
    place-self: center;
    place-items: center;
    margin: 3px;

    border: 1px solid hsl(0, 0%, 100%, 0.3);
    background: hsla(233, 78%, 35%, 0.2);
    backdrop-filter: blur(2px);
}

.botao{
    border: 1px solid hsl(0, 0%, 100%, 0.3);
    background: hsla(233, 78%, 35%, 0.2);
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 8px 1px hsl(0, 0%, 100%, 0.2);
}

.botao:hover {
    background: hsla(233, 75%, 34%, 0.682);
}