body {
    background: linear-gradient(to right,
            rgba(5, 7, 14, 1) 0%, 12.893982231616974%,
            rgba(19, 28, 38, 1) 25.787964463233948%, 62.893982231616974%,
            rgba(2, 4, 9, 1) 100%);
    overflow-x: hidden;
    color: #F5F5F5;
}

.navbar {
       background: transparent !important;
    backdrop-filter: blur(2px);
    border-bottom: 1px solid hsl(0, 0%, 100%, 0.3);
    box-shadow: black;
    z-index: 2000;
}

.nav-link {
    color: white !important;
    margin: 10px;
}

b {
    color: #0d6efd;
}

.rodape {
    background: linear-gradient(to right,
            rgba(0, 0, 0, 1) 0%,
            rgba(5, 7, 14, 1) 40%,
            rgba(2, 4, 9, 1) 100%);
    width: 100%;
    margin-top: 100px;
    border-top: 1px solid hsl(0, 0%, 100%, 0.3);
}

#spline-container {
            width: 100%;
            height: 50vh; /* Altura de 50% da viewport */
            min-height: 300px; /* Altura mínima para mobile */
            border-radius: 1.5rem; /* rounded-3xl */
            overflow: hidden;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-xl */
        }
        
        spline-viewer {
            width: 100%;
            height: 100%;
        }

        /* Estilo para o botão de ação principal */
        .btn-primary {
            transition: all 0.3s ease;
        }

        .btn-primary:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 10px rgba(59, 130, 246, 0.5);
        }
