body { 
    background: linear-gradient(to right, rgba(5, 7, 14, 1) 0%, 12.893982231616974%, rgba(19, 28, 38, 1) 25.787964463233948%, 62.893982231616974%, rgba(2, 4, 9, 1) 100%);
    overflow-x: hidden;
    animation: trocarCor 3s infinite;
}

.navbar {
    background: linear-gradient(to right, rgba(5, 7, 14, 1) 0%, 12.893982231616974%, rgba(19, 28, 38, 1) 25.787964463233948%, 62.893982231616974%, rgba(2, 4, 9, 1) 100%)!important;
    border-bottom: 1px solid #162533;
}

.nav-link{
    color: white!important;
    margin: 10px;
}

.us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;
    padding:0 13%;
}

.blog{
    width: 45%;
    color: white;
}

.robo{
    width: 45%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.news{
    display: flex;
    justify-content: center;
    margin-top: 11%;
    background-color: #162533;
    color: white;
}