body { 
    background: linear-gradient(to right, rgba(5, 7, 14, 1) 0%, 12.893982231616974%, rgba(19, 28, 38, 1) 25.787964463233948%, 62.893982231616974%, rgba(2, 4, 9, 1) 100%);
    overflow-x: hidden;
}

.navbar {
    background: transparent!important;
    border-bottom: 1px solid #162533;
}

.nav-link{
    color: white!important;
    margin: 10px;
}

.robo{
    margin-top: 5%;
    margin-left: 65%;
    width: 50%; 
    height: 54%; 
    
}
