

body { 
    background: linear-gradient(to right, rgba(5, 7, 14, 1) 0%, 12.893982231616974%, rgb(28, 40, 54) 25.787964463233948%, 62.893982231616974%, rgba(2, 4, 9, 1) 100%);    overflow-x: hidden;
}

.navbar {
    background-color: transparent !important;
    backdrop-filter: blur(2px);
    border-bottom: 1px solid hsl(0, 0%, 100%, 0.3);
    box-shadow: black;
    z-index: 2000;
}

.nav-link {
    color: white !important;
    margin: 10px;
}

.logoText{
    width:190px ;
    margin: 5px;
}

.robo{
    margin: 10px;
    width: 90%; 
    height: 450px; 

    
}
h1{
    color: #82b6e6;
    font-family: 'Science Gothic';
    font-size: 50px;
    margin: 5px;
    margin-bottom: 20px;
    
}
#title{
    color: #82b6e6;
    font-family: 'Science Gothic';
    font-size: 50px;
    margin: 20px;
}
h2{
    color: #597694;
    font-size: 20px;
    
}
hr{
    color: #82b6e6;
    background-color: #82b6e6;
    height: 2px;
}
.box{
    border: #2a3e52, solid, 1px;
    padding: 12px;
    border-radius: 10px;
    
}
.pupil{
    color: #658db4;
    font-size: 30px;
    font-family: Science Gothic;
    margin-left: 10px;
}
.pupilbox{
    height: 540px;
}

.CadastroButton{
    background-color: #3d8ad1;
    border-radius: 20px;
    border: solid 4px #2a3e52;
    color: aliceblue;
    font-family: 'Science Gothic';
    width: 120px;
    height: 55px;
}
.EntrarButton{
    background-color: #54738f;
    border-radius: 20px;
    border: solid 4px #2a3e52;
    color: aliceblue;
    font-family: 'Science Gothic';
    width: 120px;
    height: 55px;
    margin: 5px;
}
.ours{
    font-size: 30px;
}

.teste{
    border: #6897c2 1px solid;
}

.transparent{
    background-color: rgb(42,62,82, 0.4) ;
}
.transparent h1, #transparent h2 {
    opacity : unset; /* Remove estilos apenas para h1, h2 e p */
}

.rodape {
    background: linear-gradient(to right,
            rgba(0, 0, 0, 1) 0%,
            rgba(5, 7, 14, 1) 40%,
            rgba(2, 4, 9, 1) 100%);
    width: 100%;
    margin-top: 100px;
    border-top: 1px solid hsl(0, 0%, 100%, 0.3);
}