body {
    background: linear-gradient(to right,
            rgba(5, 7, 14, 1) 0%, 12.893982231616974%,
            rgba(19, 28, 38, 1) 25.787964463233948%, 62.893982231616974%,
            rgba(2, 4, 9, 1) 100%);
    overflow-x: hidden;
    color: #F5F5F5;
}

.navbar {
    background-color: transparent !important;
    backdrop-filter: blur(2px);
    border-bottom: 1px solid hsl(0, 0%, 100%, 0.3);
    box-shadow: black;
    z-index: 2000;
}

.nav-link {
    color: white !important;
    margin: 10px;
}

b {
    color: #0d6efd;
}

.category {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 0;
}

.category:hover {
  cursor: pointer;
}

.cards {
    gap: 0.7em;
    border-radius: 1em;
    border: 1px solid hsl(0, 0%, 50%, 0.3);
    background: hsla(246, 71%, 8%, 0.2);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 8px 1px hsl(0, 0%, 5%, 0.2);
    color: #F5F5F5;
}

legend {
    font-size: 45px;
}

select {
    background: hsla(246, 71%, 8%, 0.2);
    border: 1px solid hsl(0, 0%, 100%, 0.3);
    color: white;
    height: 50px;
}

textarea {
    height: 80px;
}

.form-control,
.form-select {
    background: hsla(246, 71%, 8%, 0.2);
    border: 1px solid hsl(0, 0%, 100%, 0.3);
    color: white;
    height: 50px;
}

.form-control:focus,
.form-select:focus {
    background-color: hsla(246, 71%, 8%, 0.2) !important;
    color: white;
    box-shadow: none !important;
    /* tira o brilho azul */
    border: 1px solid white !important;
}

.form-select option {
    background-color: hsla(246, 71%, 8%, 0.2) !important;
    color: black;
}

.rodape {
    background: linear-gradient(to right,
            rgba(0, 0, 0, 1) 0%,
            rgba(5, 7, 14, 1) 40%,
            rgba(2, 4, 9, 1) 100%);
    width: 100%;
    margin-top: 100px;
    border-top: 1px solid hsl(0, 0%, 100%, 0.3);
}